kind: Secret
apiVersion: v1
metadata:
  name: etcd-client-cert
  namespace: monitoring
data:
  etcd-ca: "{{ etcd_ca.stdout | b64encode }}"
  etcd-client: "{{ etcd_client_cert.stdout | b64encode }}"
  etcd-client-key: "{{ etcd_client_key.stdout | b64encode }}"

