kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: local-path-provisioner:psp
  namespace: {{ local_path_provisioner_namespace }}
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs:     ['use']
  resourceNames:
  - local-path-provisioner
