---
apiVersion: v1
kind: Secret
metadata:
  name: ca-key-pair
  namespace: {{ cert_manager_namespace }}
data:
  tls.crt: {{ ca_crt_response.stdout | default('') }}
  tls.key: {{ ca_key_response.stdout | default('') }}
