apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ kube_sa_secret['ca.crt'] }}
    server: https://{{ hostvars[groups['kube-master'][0]]['ansible_hostname'] }}:6443
  name: {{ project_name }}
contexts:
- context:
    cluster: {{ project_name }}
    user: {{ kubernetes_service_account_namespace }}-svc@{{ project_name }}
  name: {{ kubernetes_service_account_namespace }}-svc@{{ project_name }}
current-context: {{ kubernetes_service_account_namespace }}-svc@{{ project_name }}
preferences: {}
users:
- name: {{ kubernetes_service_account_namespace }}-svc@{{ project_name }}
  user:
    token: {{ kube_sa_secret['token'] | b64decode}}